<h1>Model Gallery</h1>
<div ng-repeat="model in galleryRepos" class="col-md-3">
  <cytoscape graph="model.graphml" style="border-style: solid; height: 150px" panzoomcontrolvisible="false"></cytoscape>
  <div class="btn-group btn-group-justified">
    <a class="btn btn-primary btn-sm pagination-centered" target="_blank" href="{{'http://github.com/' + model.user + '/' + model.repo + '/blob/master/' + model.file}}"><span class="glyphicon glyphicon-new-window"></span> View on GitHub</a>
    </div>
  <div class="btn-group btn-group-justified">
    <a class="btn btn-primary btn-sm pagination-centered" ng-click="loadGalleryRepo($index)"><span class="glyphicon glyphicon-open"></span> Load this Model</a>
  </div>
</div>