<div class="modal-header">
  <button type="button" ng-click="cancel()" class="close">&times;</button>
  <h4 class="modal-title">Load SBML</h4>
</div>
<div class="modal-body">
  <tabset>
    <tab class="nav nav-tabs" heading="Upload SBML File">
      <script>
      Dropzone.autoDiscover = false;
      </script>
      <div ui-jq="dropzone" ui-options="dropzoneConfig" class="dropzone"></div>
    </tab>
    <tab class="nav nav-tabs" heading="Copy and Paste SBML">
      <div ui-ace="{useWrapMode : true, showGutter: true, theme:&quot;solarized_dark&quot;, mode: &quot;xml&quot;}" ng-model="$parent.sbmlTextToLoad"></div>
      <br/>
      <button ng-click="loadFromText($parent.sbmlTextToLoad)" class="btn btn-large btn-success">
        <span class="glyphicon glyphicon-refresh"></span>Load Model</button>
    </tab>
    <tab class="nav nav-tabs" heading="Import from GitHub">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">Github User Name</span>
          <input type="text" ng-model="github.user" placeholder="Enter GitHub User Name" class="form-control" />
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">GitHub Repository</span>
          <input type="text" ng-model="github.repo" placeholder="Enter GitHub Repository" typeahead="repository.name for repository in github.repos | filter:$viewValue" typeahead-wait-ms="300" class="form-control" />
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">Model File Path</span>
          <input type="text" ng-model="github.file" placeholder="Enter Path to Model" typeahead="file.path for file in github.files | filter:$viewValue" typeahead-wait-ms="300" class="form-control" />
        </div>
      </div>
      <div class="form-group">
        <button ng-click="loadFromGithub(github.user)" class="btn btn-large btn-success">
          <span class="glyphicon glyphicon-refresh"></span>Load Model</button>
      </div>
    </tab>
  </tabset>
</div>
<div class="modal-footer">
  <button type="button" ng-click="cancel()" class="btn btn-default">Close</button>
</div>
