<div class="jumbotron">
  <div class="row">
    <div class="col-md-12">
      <a class="thumbnail">
        <img src="/images/1ae62bbb.layout.png">
      </a>
      <h2>Discover, Visualize, and Simulate SBML Models in the Browser.</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h3 class="text-center"><strong>Import models.</strong></h3>
    <p class="lead">Pull SBML models directly from GitHub or upload your own.</p>
  </div>
  <div class="col-md-4">
    <h3 class="text-center"><strong>Visualize.</strong></h3>
    <p class="lead">Models can be automatically laid out using a force directed algorithm. Species and reactions are drawn with HTML5 Canvas. The entire model revision history may even be compared visually.</p>
  </div>
  <div class="col-md-4">
    <h3 class="text-center"><strong>Simulate.</strong></h3>
    <p class="lead">Model simulations can be explored through interactive plots and changing parameter values.</p>
  </div>
</div>