
<div class="jumbotron">
  <div class="row">
    <div class="col-md-12"><a class="thumbnail"><img src="/images/layout.png"/></a>
      <h2>Discover&comma; Visualize&comma; and Simulate SBML Models in the Browser&period;</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h3 class="text-center"><strong>Import models&period;</strong></h3>
    <p class="lead">Pull SBML models directly from GitHub or upload your own&period;</p>
  </div>
  <div class="col-md-4">
    <h3 class="text-center"><strong>Visualize&period;</strong></h3>
    <p class="lead">Models can be automatically laid out using a force directed algorithm&period; Species and reactions are drawn with HTML5 Canvas&period; The entire model revision history may even be compared visually&period;</p>
  </div>
  <div class="col-md-4">
    <h3 class="text-center"><strong>Simulate&period;</strong></h3>
    <p class="lead">Model simulations can be explored through interactive plots and changing parameter values&period;</p>
  </div>
</div>