<div ng-controller="SimulateCtrl">
  <h1>Simulation</h1>
  <!-- cyt(sbml='simSbml')-->
  <highchart id="simChart" config="chartConfig"></highchart>
  <div class="row">
    <div class="col-md-6">
      <h4>Simulation Settings</h4>
      <table class="table table-striped table-hover table-condensed">
        <tr>
          <th>Attribute</th>
          <th>Value</th>
        </tr>
        <tr>
          <td>Start Time</td>
          <td>
            <input type="number" ng-model="simStartTime" name="simStartTime">
          </td>
        </tr>
        <tr>
          <td>End Time</td>
          <td>
            <input type="number" ng-model="simEndTime" name="simEndTime">
          </td>
        </tr>
        <tr>
          <td>&num; Steps</td>
          <td>
            <input type="number" ng-model="simNumSteps" name="simNumSteps">
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-6">
      <h4>Rate Constants</h4>
      <div style="overflow: auto; height:142px">
        <table style="overflow:auto" class="table table-striped table-hover table-condensed">
          <tr>
            <th>Attribute</th>
            <th>Value</th>
          </tr>
          <tr ng-repeat="param in params">
            <td>{{param.id}}</td>
            <td>
              <input type="number" ng-model="param.value" name="paramValue" step="{{param.value/20}}" ng-change="paramUpdate($index)">
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <button ng-click="getModel()" class="btn btn-primary">Save Model</button>
</div>